body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background: #101720;
  color: #283645;
}
body h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
body h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 720px) {
  body h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
  }
  body h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }
}
@media (min-width: 1220px) {
  body h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }
  body h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
  }
}
a {
  color: #ffffff;
}
img,
figure,
ul {
  margin: 0;
}
.main-header {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: #283645;
  color: #ffffff;
}
.main-header::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav__header {
  padding: 0 20px;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px #000000;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px #000000;
}
.main-nav__header::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav__logo {
  float: left;
  margin: 22px 0 26px;
}
.main-nav__logo a {
  display: block;
  width: 75px;
  height: 22px;
  font-size: 0;
  background: url("../img/logo_mobile.svg") no-repeat;
}
.main-nav__burger {
  float: right;
  margin: 21px 0 25px;
}
.main-nav__burger a {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.main-nav__burger a::before {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 1px;
}
.main-nav__burger a::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 1px;
}
.main-nav__items {
  list-style: none;
  padding: 0;
}
.main-nav__list a {
  display: block;
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px #000000;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px #000000;
}
.main-header--closed {
  margin-bottom: -70px;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-header--closed .main-nav__header--no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.main-header--closed .main-nav__burger a {
  width: 50px;
  height: 24px;
  -webkit-box-shadow: inset 0px 4px #ffffff, inset 0px -4px #ffffff;
  box-shadow: inset 0px 4px #ffffff, inset 0px -4px #ffffff;
}
.main-header--closed .main-nav__burger a::before {
  width: 50px;
  height: 4px;
  -webkit-transform: none;
  transform: none;
  top: 10px;
  left: 0px;
}
.main-header--closed .main-nav__burger a::after {
  display: none;
}
.main-header--closed .main-nav__menu {
  display: none;
}
@media (min-width: 720px) {
  .main-header {
    width: 700px;
    height: auto;
    margin-bottom: -110px;
  }
  .main-nav {
    position: relative;
  }
  .main-nav__header {
    height: auto;
    padding: 0 40px;
  }
  .main-nav__logo {
    margin: 27px 0 43px;
  }
  .main-nav__logo a {
    width: 147px;
    height: 40px;
    background: url("../img/logo_tablet.svg") no-repeat;
  }
  .main-nav__burger {
    margin: 45px 0 43px;
  }
  .main-nav__menu {
    position: absolute;
    width: 100%;
    background-color: #283645;
  }
}
@media (min-width: 1220px) {
  .main-header {
    width: 1200px;
    height: auto;
    margin-bottom: -110px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .main-nav {
    padding: 0 130px;
  }
  .main-nav__header {
    height: 110px;
    float: left;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main-nav__menu {
    float: right;
    display: block!important;
    margin: 46px 0;
    position: relative;
    width: auto;
    background-color: transparent;
  }
  .main-nav__logo a {
    background: url("../img/logo_desktop.svg") no-repeat;
  }
  .main-nav__burger {
    display: none;
  }
  .main-nav__items {
    line-height: 0;
    font-size: 0;
  }
  .main-nav__list {
    display: inline-block;
    margin-left: 82px;
  }
  .main-nav__list a {
    font-size: 18px;
    padding: 0;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.intro {
  margin: 0 auto;
  width: 320px;
  height: 733px;
  color: #ffffff;
  background: #1d2631 url("../img/intro_foto_mobile.jpg") no-repeat center top;
}
.intro__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .intro__wrapper {
    width: 620px;
  }
}
@media (min-width: 1220px) {
  .intro__wrapper {
    width: 940px;
  }
}
.download {
  padding-top: 489px;
  text-align: center;
}
.download h2 {
  display: none;
}
.download__btn {
  display: block;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 25px;
}
.download__icons {
  margin-top: 32px;
  text-align: center;
  font-size: 0;
}
.download__icons::after {
  content: "";
  display: table;
  clear: both;
}
.download__icon {
  width: 80px;
  height: 56px;
  display: inline-block;
  vertical-align: middle;
}
.download__icon--apple {
  background: url("../img/apple-logo.svg") no-repeat center;
}
.download__icon--android {
  background: url("../img/android-logo.svg") no-repeat center;
}
.download__icon--microsoft {
  background: url("../img/microsoft-logo.svg") no-repeat center;
}
.download__icons p {
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 720px) {
  .intro {
    width: 700px;
    height: 729px;
    background: #1d2631 url("../img/intro_foto_tablet.jpg") no-repeat center top;
  }
  .download {
    padding-top: 200px;
    width: 300px;
  }
  .download h2 {
    display: inline;
  }
  .download__btn {
    margin: 30px 0 46px;
  }
  .download__icons p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
@media (min-width: 1220px) {
  .intro {
    width: 1200px;
    height: 853px;
    background: #1d2631 url("../img/intro_foto_desktop.jpg") no-repeat center top;
  }
  .download {
    padding-top: 220px;
  }
  .download__btn {
    font-size: 21px;
    line-height: 18px;
    padding-left: 28px;
    padding-right: 28px;
    margin: 55px 0 67px;
  }
  .download__icons p {
    margin-top: 57px;
  }
}
.features {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.features__header {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 720px) {
  .features__header {
    width: 620px;
  }
}
@media (min-width: 1220px) {
  .features__header {
    width: 940px;
  }
}
.features__header h2 {
  margin-top: 43px;
  margin-bottom: 30px;
}
.features__content {
  background-color: #f2f2f2;
}
.features__content::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid #ffffff;
  border-right: 320px solid transparent;
  margin-bottom: 50px;
}
.features__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 720px) {
  .features__item {
    width: 620px;
  }
}
@media (min-width: 1220px) {
  .features__item {
    width: 940px;
  }
}
.features__foto {
  text-align: center;
}
.features__foto img {
  vertical-align: middle;
}
@media (min-width: 720px) {
  .features {
    width: 700px;
  }
  .features__header br {
    display: none;
  }
  .features__header .features__header-break {
    display: inline;
  }
  .features__content::before {
    border-top: 53px solid #ffffff;
    border-right: 700px solid transparent;
    margin-bottom: 0;
  }
  .features__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .features__item-wrapper {
    width: 50%;
  }
  .features__item {
    width: auto;
    margin-right: 40px;
    text-align: left;
    margin-bottom: 35px;
  }
  .features__item h3 {
    margin-bottom: 10px;
  }
  .features__foto {
    margin-left: 40px;
    margin-top: -48px;
  }
}
@media (min-width: 1220px) {
  .features {
    width: 1200px;
  }
  .features__content::before {
    border-top: 94px solid #ffffff;
    border-right: 1200px solid transparent;
  }
  .features__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .features__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: auto;
    margin: 0 130px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px;
  }
  .features__item {
    text-align: center;
    margin: 0;
    width: 235px;
    -webkit-box-shadow: 0px -14px 14px -17px #000000;
    box-shadow: 0px -14px 14px -17px #000000;
  }
  .features__foto {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
    margin-top: -95px;
  }
}
.reviews {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px 0;
}
.reviews__item-wrapper {
  overflow: hidden;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .reviews__item-wrapper {
    width: 620px;
  }
}
@media (min-width: 1220px) {
  .reviews__item-wrapper {
    width: 940px;
  }
}
.reviews__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.reviews__item {
  width: 280px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.reviews__item-container--first {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
}
.reviews__item-container--second {
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
  -webkit-transition: 1s;
  transition: 1s;
}
.reviews__item-container--third {
  -webkit-transform: translateX(-560px);
  transform: translateX(-560px);
  -webkit-transition: 1s;
  transition: 1s;
}
.radio {
  text-align: center;
}
.radio label {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin: 0 7px;
}
.radio label .radio__btn {
  display: none;
}
.radio label span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  display: block;
  border: 3px solid #ffffff;
}
.radio label .radio__btn:checked + span {
  border: 3px solid #283645;
  background-color: transparent;
}
@media (min-width: 720px) {
  .reviews {
    width: 700px;
  }
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 620px;
  }
  .reviews__item span {
    display: inline;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 30px;
  }
  .reviews__item h3 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .reviews__item p {
    font-size: 18px;
    line-height: 30px;
  }
  .reviews__item-container--first {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .reviews__item-container--second {
    -webkit-transform: translateX(-620px);
    transform: translateX(-620px);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .reviews__item-container--third {
    -webkit-transform: translateX(-1240px);
    transform: translateX(-1240px);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (min-width: 1220px) {
  .reviews {
    width: 1200px;
  }
  .reviews__item {
    width: 940px;
  }
  .reviews__item-container--first {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .reviews__item-container--second {
    -webkit-transform: translateX(-940px);
    transform: translateX(-940px);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .reviews__item-container--third {
    -webkit-transform: translateX(-1880px);
    transform: translateX(-1880px);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
.price {
  width: 320px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}
.price::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid #ffffff;
  border-right: 320px solid transparent;
  margin-bottom: 65px;
}
.price__table-wrapper {
  width: 100%;
  overflow: hidden;
}
.price-table {
  background-color: #ffffff;
  width: 840px;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 20px;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
}
.price-table__row th:first-child {
  display: none;
}
.price-table__row td:first-child {
  display: none;
}
.price-table__head {
  width: 280px;
  background-color: #283645;
  color: #ffffff;
}
.price-table__head--hit {
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: left top;
}
.price-table__head span {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.price-table td {
  border: 2px solid #e5e5e5;
  padding: 15px 14px;
  text-align: left;
}
.price-table th {
  border: 2px solid #f2f2f2;
}
.price-table--yes {
  background: url("../img/yes.png") no-repeat 230px center;
}
.price-table--no {
  background: url("../img/no.png") no-repeat 230px center;
}
.price-table--first {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
}
.price-table--second {
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
  -webkit-transition: 1s;
  transition: 1s;
}
.price-table--third {
  -webkit-transform: translateX(-560px);
  transform: translateX(-560px);
  -webkit-transition: 1s;
  transition: 1s;
}
.price-radio {
  margin-top: 35px;
}
.price-radio label {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin: 0 7px;
}
.price-radio label .price-radio__btn {
  display: none;
}
.price-radio label span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  display: block;
  border: 3px solid #f2f2f2;
}
.price-radio label .price-radio__btn:checked + span {
  border: 3px solid #283645;
  background-color: transparent;
}
@media (min-width: 720px) {
  .price {
    width: 700px;
  }
  .price::before {
    border-top: 53px solid #ffffff;
    border-right: 700px solid transparent;
    margin-bottom: 35px;
  }
  .price-table {
    width: 620px;
    width: 280px;
    margin: 0 auto;
    -webkit-transform: none;
    transform: none;
  }
  .price-table--yes {
    background-position: center;
    font-size: 0;
  }
  .price-table--no {
    background-position: center;
    font-size: 0;
  }
  .price-table th {
    width: 152px;
  }
  .price-table__row th:first-child {
    display: table-cell;
    background-color: #f2f2f2;
  }
  .price-table__row td:first-child {
    display: table-cell;
    text-transform: none;
  }
  .price-table__head h2 {
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
  }
  .price-table__head span {
    font-size: 16px;
  }
  .price-radio {
    display: none;
  }
  .price-table--first,
  .price-table--second,
  .price-table--third {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
}
@media (min-width: 720px) and (min-width: 720px) {
  .price-table {
    width: 620px;
  }
}
@media (min-width: 720px) and (min-width: 1220px) {
  .price-table {
    width: 940px;
  }
}
@media (min-width: 1220px) {
  .price {
    width: 1200px;
  }
  .price::before {
    border-top: 94px solid #ffffff;
    border-right: 1200px solid transparent;
  }
  .price-table {
    font-size: 18px;
  }
  .price-table h2 {
    font-size: 24px;
  }
  .price-table span {
    font-size: 18px;
  }
}
.contacts {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.contacts span {
  font-size: 18px;
  line-height: 24px;
  color: #283645;
  font-weight: bold;
}
.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 43px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 35px;
}
@media (min-width: 720px) {
  .contacts__wrapper {
    width: 620px;
  }
}
@media (min-width: 1220px) {
  .contacts__wrapper {
    width: 940px;
  }
}
.contacts__type {
  color: #d22856;
  margin-top: 25px;
}
.map {
  height: 200px;
  background-image: url("../img/map.jpg");
}
.map::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 35px solid #ffffff;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  display: block;
  margin-bottom: -35px;
  z-index: 10;
  position: relative;
}
@media (min-width: 720px) {
  .contacts {
    width: 700px;
  }
  .contacts__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 0;
  }
  .contacts__wrapper h2 {
    width: 100%;
  }
  .contacts__type {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .map {
    height: 380px;
    background-image: url("../img/map-tablet.jpg");
  }
  .map::before {
    margin-bottom: -75px;
    border-top: 75px solid #ffffff;
    border-left: 350px solid transparent;
    border-right: 350px solid transparent;
  }
  .map iframe {
    width: 700px;
    height: 380px;
  }
}
@media (min-width: 1220px) {
  .contacts {
    width: 1200px;
  }
  .contacts__type {
    width: 250px;
  }
  .contacts__type:nth-last-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .contacts__type span::after {
    content: "";
    display: block;
  }
  .map {
    height: 500px;
    background-image: url("../img/map-desktop.jpg");
  }
  .map::before {
    margin-bottom: -104px;
    border-top: 104px solid #ffffff;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
  }
  .map iframe {
    width: 1200px;
    height: 500px;
  }
}
@media (min-width: 720px) {
  .main-footer {
    display: block;
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .main-footer a {
    color: #000000;
    font-size: 0;
  }
  .main-footer__wrapper {
    width: 280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .main-footer__wrapper section {
    width: 33.3%;
  }
  .main-footer ul {
    list-style: none;
    padding: 0;
  }
  .main-footer li {
    display: inline-block;
    margin-right: 12px;
  }
  .main-footer li:last-child {
    margin-right: 0;
  }
  .main-footer__logo img {
    display: block;
  }
  .social {
    text-align: center;
    font-size: 0;
  }
  .social__link {
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .social__link--twitter {
    background-image: url("../img/twitter.png");
  }
  .social__link--facebook {
    background-image: url("../img/facebook.png");
  }
  .social__link--youtube {
    background-image: url("../img/youtube.png");
  }
  .copyright {
    text-align: right;
  }
  .copyright span {
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
  .copyright a {
    display: inline-block;
    background-image: url("../img/htmlacademy.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 34px;
    vertical-align: middle;
  }
}
@media (min-width: 720px) and (min-width: 720px) {
  .main-footer__wrapper {
    width: 620px;
  }
}
@media (min-width: 720px) and (min-width: 1220px) {
  .main-footer__wrapper {
    width: 940px;
  }
}
@media (min-width: 1220px) {
  .main-footer {
    width: 1200px;
  }
  .main-footer__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .copyright span {
    font-size: 18px;
  }
}
